@model dynamic

<div id="profile_container" style="flex-direction: row;">
<div class="info_container">
    <div class="headers_info" style="font-size: 35px; font-weight: 600;">
        <p>Персонажи</p>
    </div>
    <div class="characters">
        <div>
            <a href="~/Yoimiya.html">
                <img src="~/refs/Character_Yoimiya_Thumb.png" class="small_char_pic">
            </a>
            <div>
                <a href="~/Jean.html">
                    <img src="~/refs/Character_Jean_Thumb.png" class="small_char_pic">
                </a>
            </div>
            <div>
                <a href="~/Eula.html">
                    <img src="~/refs/Character_Eula_Thumb.png" class="small_char_pic">
                </a>
            </div>
        </div>
    </div>
</div>
</div>