

<div id="cloud">
    <div style="font-family: tenor sans; font-size: 29px; color: #213680">
        Welcome to Genshin Impact fandom wiki!
    </div>
    <div id="empty_info_container">
        sjasija
    </div>
</div>