@model ChangePassword

@{
  Layout = null;
}

<head xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="~/css/login page styles.css">
</head>
<div class="background_pic"></div>
  <div class="background_blur">
  </div>

<div class="side_bar">
    <div id="side_bar_container">
      <div id="logo_div" style="margin: 8px;">
        <img src="~/refs/smol_logo.png" style="height: 35px;">
      </div>
      <div id="characters_container">
        <div id="characters">
          <a asp-controller="Wiki" asp-action="ShowCharacters">
            <img class="side_pic" src="~/refs/chars.png">
          </a>
        </div>
        <div class="side_bar_text">Персонажи</div>
        <div id="weapons">
          <a asp-controller="Wiki" asp-action="ShowWeapons">
            <img class="side_pic" src="~/refs/weapons.png">
          </a>
        </div>
        <div class="side_bar_text">Оружие</div>
        <div id="guides">
          <a href="google.com">
            <img class="side_pic" src="~/refs/guides.png">
          </a>
        </div>
        <div class="side_bar_text">Гайды</div>
      </div>
    </div>
  </div>

<div class="main_container">
    <div class="headers_text" style="margin-top: 30px;">
      Genshin Impact
    </div>
    <div class="headers_text">
      fandom wiki
    </div>
  <div id="logo_container">
    <img src="~/refs/2.png" style="width: 460px; margin-top: 10px;">
  </div>
  <form asp-action="ChangePassword">
    <div id="login_header" class="login_texts">
      Новый Пароль
    </div>
    <div id="login_container">
      <input asp-for="Password" type="password" class="input_form">
    </div>
    <button type="submit" class="login_page_button">
    Сменить
  </button>
  </form>
</div>
  <img id="pimon_food" src="~/refs/Character_Paimon_Portrait.png">